@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A0B2E;
    margin: 0 auto;
}
nav .head{
    margin: 30px;
    color: white;
    margin-left: 200px;
    font-size: 40px;
    font-weight: 800;
    

}
.head span{
    color: #ff3cf0;
}
nav .about{
    display: flex;
    gap: 30px;
    color: white;
    font-size: 16px;
}
nav .btn-1{
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 20px;
    margin-right: 200px;
    background: linear-gradient(45deg, #f8ff3c, #d73295);
}


section {
    background: url(../assets/hero-bg.png);
    
    width: 100%;
    max-width: 1600px;
    height: 760px;  
    margin: 0 auto; 
    vertical-align: middle;
}
.hero-images {
    position: relative;    
    width: 350px;          
    height: 350px;
    margin: 0 auto;
    top: 70px;
    left: 40px;
    
            
}

.image-1{
    position: relative;
    z-index: 1;            
}


.image-2{
    position: absolute;
    top: 70px; 
    left: 115px;                   
    z-index: 2;
 }  
 .banner-msg {
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    
                   
 } 
 .banner-msg h2 {
    font-size: 60px;
    font-weight: 800;
    color: white;


 }   
 .banner-msg p{
    font-size: 16px;
    font-weight: 400;
    line-height: auto;
    color: #ffffff;
    margin-bottom: 20px;
 } 
 .banner-msg .btn-2 {
    padding: 12.5px 20px 12.5px 30px;
    color: white;
    background: linear-gradient(to bottom left, purple , yellow);
    border: none;
    border-radius: 20px;
    
 }
.banner-msg .btn-3 {
    padding: 12.5px 20px 12.5px 40px;
    color: rgb(8, 240, 8);
    background: transparent;
    border-color: rgb(2, 251, 10);
    border-radius: 20px;
}
.banner-msg .btn-2, .banner-msg .btn-3{
    gap: 28px;

}
