@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A0B2E;
    margin: 0 auto;
}
nav .head{
    margin: 30px;
    color: white;
    margin-left: 200px;
    font-size: 40px;
    font-weight: 800;
    

}
.head span{
    color: #ff3cf0;
}
nav .about{
    display: flex;
    gap: 30px;
    color: white;
    font-size: 16px;
}
nav .btn-1{
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 20px;
    margin-right: 200px;
    background: linear-gradient(45deg, #f8ff3c, #d73295);
}


 .hero-container{
    background: url(../assets/hero-bg.png);
    
    width: 100%;
    max-width: 1600px;
     height: 762px;
    margin: 0 auto; 
    vertical-align: middle;
    
}
.hero-images {
    position: relative;    
    width: 350px;          
    height: 350px;
    margin: 0 auto;
    top: 70px;
    left: 40px;
    
            
}

.image-1{
    position: relative;
    z-index: 1;            
}


.image-2{
    position: absolute;
    top: 70px; 
    left: 115px;                   
    z-index: 2;
 }  
 .banner-msg {
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    
                   
 } 
 .banner-msg h2 {
    font-size: 60px;
    font-weight: 800;
    color: white;


 }   
 .banner-msg p{
    font-size: 16px;
    font-weight: 400;
    line-height: auto;
    color: #ffffff;
    margin-bottom: 20px;
 } 
 .banner-msg .btn-2 {
    padding: 12.5px 20px 12.5px 30px;
    color: white;
    background: linear-gradient(to bottom left, purple , yellow);
    border: none;
    border-radius: 20px;
    
 }
.banner-msg .btn-3 {
    padding: 12.5px 20px 12.5px 40px;
    color: rgb(8, 240, 8);
    background: transparent;
    border-color: rgb(2, 251, 10);
    border-radius: 20px;
}
.banner-msg .btn-2, .banner-msg .btn-3{
    gap: 28px;

}
.banner-msg{
    margin-bottom: 101px;
}
#about-podcast{
    width: 100%;
    max-width: 1600px;
    background-color: #1A0B2E;
}  
#about-podcast .podcast-container .podcast{
    width: 100%;
    max-width: 1200px;
   
    margin:0 auto;
    text-align: center;
} 
.podcast h2{
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 16px;
}
.podcast p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 160px;
}
.podcast-rating{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.podcast-rating .rating h2{
    font-size: 48px;
    font-weight: black;
    color: #00FF88;

}
.podcast-rating .rating p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 120px;
}
.grid-container{
    width: 100%;
    max-width: 1600px;
    background-color: #230E3D;
}
.grid-container h1{
    font-size: 48px;
    font-weight: bold;
   padding-top: 120px;
    margin-bottom: 40px;
    text-align: center;
    color: white;

}
.grid-about .grid-box-1 ,.grid-box-2 ,.grid-box-3,.grid-box-4, .grid-box-5 h3{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 16px;
    margin-bottom: 16px;
}
.grid-about .grid-box-1 ,.grid-box-2 ,.grid-box-3,.grid-box-4, .grid-box-5 p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.grid-about{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.grid-about img{
    margin-bottom: 16px;
}
.grid-about h3{
    margin-bottom: 16px;
}
.grid-box-1 img{
    padding-top: 108px;
}
.grid-about>*{
    
    border-radius: 20px;
    padding: 30px;
    background-color: #351165;
}
.grid-box-1{
    grid-area: grid-box-1;
}
.grid-box-2{
    grid-area: grid-box-2;
}
.grid-box-3{
    grid-area: grid-box-3;
}
.grid-box-4{
    grid-area: grid-box-4;
}
.grid-box-5{
    grid-area: grid-box-5;
}

.grid-about{
    display: grid;
    gap: 30px;
    grid-template-areas: 
         " grid-box-1  grid-box-2  grid-box-2 "
         " grid-box-1  grid-box-3  grid-box-3"
         " grid-box-4  grid-box-4  grid-box-5"

}